MONGO_URL=mongodb://localhost:27017
DB_NAME=klonaris
CORS_ORIGINS=http://localhost:3000
APP_URL=http://localhost:3000
RESEND_API_KEY=re_clef_factice_a_remplacer
SENDER_EMAIL=devis@votre-domaine.be
NOTIFY_EMAIL=votre-adresse@example.be
